---
layout: page
title: That Time I Got Out of Jail by Reassembling Osiris
wip: true
---


<!-- Copied and pasted from project_summary include but modified -->
<div class="row mb-4 justify-content-center proj-summary g-3">
    <div class="col-12 col-lg-4"><div class="section h-100">
        <p><strong>You are Medea, foraging for body parts.</strong></p><p>
        An interactive fiction game featuring dismembered body parts, Medea, Egyptian history, and more! </p><p>
        By Sophia Ling and Ruya Tazebay</p><p> 
        Made with <a href="https://ganelson.github.io/inform-website/">Inform7</a><br>
        With the <a href="https://vorple-if.com/">Vorple extension</a></p>
        <div class="btn w-100 py-2 my-2"><a href="https://github.com/anonymousanemone/ReassemblingOsiris">View on Github</a></div>
    </div></div>
    <!-- <div class="col-12 col-md-5">
        <img src="/assets/images/game/medea.png" alt="Project image" loading="lazy" decoding="async" class="img-fluid w-100">
    </div> -->
    <div class="col-12 col-lg-8">
        <a href="/Release/play.html"><img src="/assets/images/game/reassemblingosiris/intro_screenshot.png" alt="Project image" loading="lazy" decoding="async" class="img-fluid w-100"></a>
    </div>
</div>

{% include section_head.html title="Playtester's Guide" id="playtester" %}


{% include section_head.html title="Ideas and Concepts" %}

<div class="row g-4 align-items-center">

{% include notecard.html label = "Abydos" 
        text = "Abydos, one of ancient Egypt's most important sacred cities, was the principal cult center of Osiris. Located behind the Temple of Seti I, the Osireion is a monumental subterranean structure forming part of Seti I's funerary complex. Its central hall is built from massive granite monoliths with limestone walls faced in sandstone and roofed with large granite beams. At its center is a stone-paved island surrounded by a deep, water-filled channel, with a series of small chambers and a rear chamber beyond the main hall."
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="/assets/images/game/reassemblingosiris/abydos.png" alt="Osireion map" loading="lazy" decoding="async" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Amarna" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="/assets/images/game/reassemblingosiris/amarna.png" alt="Amarna map" loading="lazy" decoding="async" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Busiris" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="/assets/images/game/reassemblingosiris/busiris.png" alt="Knossos map" loading="lazy" decoding="async" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Thebes" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="/assets/images/game/reassemblingosiris/thebes.jpg" alt="Thebes map" loading="lazy" decoding="async" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Oxyrhynchus" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="/assets/images/game/reassemblingosiris/oxyrhynchus.png" alt="Fishing scene" loading="lazy" decoding="async" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Memphis" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="/assets/images/game/reassemblingosiris/medea.png" alt="Placeholder image" loading="lazy" decoding="async" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Avaris" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
               <img src="/assets/images/game/reassemblingosiris/medea.png" alt="Placeholder image" loading="lazy" decoding="async" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Elephantine" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="/assets/images/game/reassemblingosiris/medea.png" alt="Placeholder image" loading="lazy" decoding="async" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Heliopolis" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="/assets/images/game/reassemblingosiris/medea.png" alt="Placeholder image" loading="lazy" decoding="async" class="img-fluid w-100">
            </div>
        </div>'
%}
</div>
