---
layout: page
title: That Time I Got Out of Jail by Reassembling Osiris
wip: true
---


<!-- Copied and pasted from project_summary include but modified -->
<div class="row mb-4 justify-content-center proj-summary g-3">
    <div class="col-12 col-md-4"><div class="section h-100">
        <p><strong>You are Medea, foraging for body parts.</strong></p><p>
        An interactive fiction game featuring dismembered body parts, Medea, Egyptian history, and more! </p><p>
        By Sophia Ling and Ruya Tazebay</p><p> 
        Made with <a href="https://ganelson.github.io/inform-website/">Inform7</a><br>
        With the <a href="https://vorple-if.com/">Vorple extension</a></p>
        <div class="btn w-100 py-2 my-2"><a href="https://github.com/anonymousanemone/ReassemblingOsiris">View on Github</a></div>
    </div></div>
    <!-- <div class="col-12 col-md-5">
        <img src="/assets/images/game/medea.png" alt="Project image" class="img-fluid w-100">
    </div> -->
    <div class="col-12 col-md-8">
        <img src="/assets/images/game/reassemblingosiris/intro_screenshot.png" alt="Project image" class="img-fluid w-100 h-100">
    </div>
</div>

<!-- {% include section_head.html title="Playtester's Guide" id="playtester" %} -->


{% include section_head.html title="Ideas and Concepts" %}

<div class="row g-4 align-items-center">

{% include notecard.html label = "Abydos" 
        text = "The Osireion!"
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="http://www.archaeologicalresource.com/Books_and_Articles/Osireion/JEA1_p162_plan_mine.gif" alt="Osireion map" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Amarna" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="/assets/images/game/reassemblingosiris/amarna.png" alt="Amarna map" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Busiris" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="/assets/images/game/reassemblingosiris/busiris.png" alt="Knossos map" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Thebes" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="/assets/images/game/reassemblingosiris/thebes.jpg" alt="Thebes map" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Oxyrhyncos" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="/assets/images/game/reassemblingosiris/medea.png" alt="Placeholder image" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Memphis" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="/assets/images/game/reassemblingosiris/medea.png" alt="Placeholder image" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Avaris" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
               <img src="/assets/images/game/reassemblingosiris/medea.png" alt="Placeholder image" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Elephantine" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="/assets/images/game/reassemblingosiris/medea.png" alt="Placeholder image" class="img-fluid w-100">
            </div>
        </div>'
%}
{% include notecard.html label = "Heliopolis" 
        text = ""
        images = '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 p-2">
                <img src="/assets/images/game/reassemblingosiris/medea.png" alt="Placeholder image" class="img-fluid w-100">
            </div>
        </div>'
%}
</div>
