---
layout: page
title: Poppy Panel
---

{% include project_summary.html 
    description = "Inspired by Frank Lloyd Wright's art deco windows, this pattern was created by a good friend,
    Robin. " 

    img1 = ' 
    <img src="/assets/images/glass/poppy/outdoor2-final.jpg" alt="Project image" class="img-fluid">'
    img2 = '
    <img src="/assets/images/glass/poppy/pattern.png" alt="Final pattern" class="img-fluid w-100">'
%}

<!-- process -->
{% include section_head.html title="Process" %}

<div class="row g-4 align-items-center">
    <!-- initial colors -->
    {% include notecard.html 
        label = "1) Initial pattern and coloring" 
        text = "Due to glass color limitations and general uncertainties 
        (and immense indecision by both parties), the color draft continued
        to change as the piece was being made..."
        images_path = "/assets/images/glass/poppy/color"
    %}

    <!-- cutting and more colors -->
    {% include notecard.html 
        img_right = true
        label = "2) Cutting and more coloring" 
        text = "I used a diamond bandsaw for the first time! It definitely does what it needs to,
        but if you can make the cut without the saw, just use a scorer and pliers... 
        It was a mildly miserable misadventure. Also, the colors were slowly finalized."
        images= '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 col-md-6 p-2">
                <img src="/assets/images/glass/poppy/process-c.png" alt="Final colors" class="img-fluid w-100">
            </div>
            <div class="col-12 col-md-6 p-2">
                <img src="/assets/images/glass/poppy/process1.jpg" alt="Cutting glass" class="img-fluid w-100">
            </div>
        </div>'
    %}

    <!-- pinning -->
    {% include notecard.html 
        label = "3) Pinning and soldering" 
        text = "Gotta love regular shapes! They (mostly) fit pretty painlessly! 
        Avoid making teeny tiny pieces when you create your pattern or they get
        buried in solder... A good copper-foil job also goes a long way."
        images= '
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-12 col-md-6 p-2">
                <img src="/assets/images/glass/poppy/process2.jpg" alt="Foiled pieces" class="img-fluid w-100">
            </div>
            <div class="col-12 col-md-6 p-2">
                <img src="/assets/images/glass/poppy/process3.jpg" alt="Foiled pieces" class="img-fluid w-100">
            </div>
        </div>'
    %}

    <!-- patina-->
    {% include notecard.html 
        img_right = true
        label = "5) Patina" 
        text = "I thought I would get fancy and try the copper patina for the first time... 
        When it works properly, it does give the solder a brilliant shine and a nice copper color,
        but it is pinker than the color of copper-foil and  doesn't really work on lead came.
        Decide at your own risk! I tried my best to undo the copper patina with a wire brush and
        recoated the solder with the usual black patina."
        images= '
        <div class="col-12 p-2">
            <img src="/assets/images/glass/poppy/process4.jpg" alt="Patina piece" class="img-fluid w-100">
        </div>'
    %}

</div>

