---
layout: page
title: Hippopotamus
wip: true
---

{% include project_summary.html 
    description = "This project was started on an impulse!" 
    img1 = ' 
    <img src="/assets/images/glass/hippo/hippo1-final.jpg" alt="Project image" class="img-fluid w-100">'
    img2 = '
    <img src="/assets/images/glass/hippo/hippo2_pattern.png" alt="Final pattern" class="img-fluid w-100 py-5">'
%}

<!-- pattern prototyping -->
{% include section_head.html title="Pattern Prototyping" %}

<!-- reference  -->
{% include double_notes.html 
    title = "Reference!" 
    text = "" 
    images = '
    <div class="col-12 p-2">
        <img src="/assets/images/glass/hippo/ref.jpg" alt="Reference object" class="img-fluid w-50">
    </div>'
%}

<!-- line  -->
{% include double_notes.html 
    title = "Lines" 
    text = "Prototyping different ways of decorating the panels." 
    images_path = "/assets/images/glass/hippo/pattern"
%}




