---
layout: page
title: Stained Glass Lampshade
wip: true
---

{% include project_summary.html 
    description = "This project was started on an impulse! Will be done register by register, gradually." 
    img1 = ' 
    <img src="/assets/images/glass/hydra/hydra_color.png" alt="Project image" class="img-fluid w-100">'
    img2 = '
    <img src="/assets/images/glass/hydra/hydra_vase.png" alt="Final pattern" class="img-fluid w-100">'
%}

<!-- pattern prototyping -->
{% include section_head.html title="Pattern Prototyping" %}

<!-- shape  -->
{% include double_notes.html 
    title = "Reference!" 
    text = "Caeretan Hydria, 520–510 BCE, from Caere, Etruria. Currently on view at the Getty Villa!" 
    images = '
    <div class="col-12 p-2">
        <img src="/assets/images/glass/hydra/ref.jpg" alt="Reference object" class="img-fluid w-50">
    </div>'
%}

<!-- line  -->
{% include double_notes.html 
    title = "Lines" 
    text = "Prototyping different ways of splitting up the background space." 
    images_path = "/assets/images/glass/lamp/line"
%}




