---
layout: page
title: Cervical Vertebra #5
wip: true
---

{% include project_summary.html 
    description = "An anatomically accurate cervical vertebra! A relic from my bones era." 
    img1 = ' 
    <img src="/assets/images/glass/vertebra/cv-final.png" alt="Project image" class="img-fluid w-100">'
    img2 = '
    <img src="/assets/images/glass/vertebra/cv_pattern.png" alt="Final pattern" class="img-fluid w-100 px-4">'
%}

<!-- process -->
{% include section_head.html title="Process" %}

<!-- line  -->
{% include double_notes.html 
    title = "Lines" 
    text = "Prototyping different ways of decorating the panels." 
    images_path = "/assets/images/glass/lamp/line"
%}




