---
layout: page
title: Leaf with Lead
wip: true
---

{% include project_summary.html 
    description = "I wanted to try making stained glass with lead came, instead of with copper foil and solder." 
    img1 = ' 
    <img src="/assets/images/glass/leaf/process1.jpg" alt="Project image" class="img-fluid h-100">'
    img2 = '
    <img src="/assets/images/glass/leaf/lead-pattern.png" alt="Final pattern" class="img-fluid w-100 px-2">'
%}

<!-- pattern prototyping -->
{% include section_head.html title="Process" %}





