---
layout: page
title: Stained Glass Lampshade
wip: true
---

<div class="row mb-4 justify-content-center">
    <div class="col-12 col-md-4 p-2"><div class="section h-100">
        <p>This was the first stained glass piece I've made after a four year break. 
            A lot of lessons were (re)learned and many mistakes (re)made in this (approximately)
            50 hour endeavor.
        </p>
    </div></div>
    <div class="col-12 col-md-4 p-2">
        <img src="/assets/images/glass/lamp/image.png" alt="Project image" class="img-fluid h-100">
    </div>
    <div class="col-12 col-md-4 p-2">
        <img src="/assets/images/glass/lamp/glass_lamp 3.png" alt="Final pattern" class="img-fluid w-100 px-2">
    </div>
</div>


{% include section_head.html title="Pattern Prototyping" %}

<!-- shape  -->
<div class="row mb-4 align-items-center g-3">
    <div class="col-md-4"><div class="section">
        <h3>Shape</h3>
        <p>Testing out different lamp shade shapes.</p>
    </div></div>
    <div class="col-md-8"><div class="section">
    </div></div>
</div>

<!-- line  -->
<div class="row mb-4 align-items-center g-3">
    <div class="col-md-4"><div class="section">
        <h3>Lines</h3>
        <p>Prototyping different ways of decorating the panels.</p>
    </div></div>
    <div class="col-md-8"><div class="section">
        <div class="row g-2 justify-content-center">
            {% for file in site.static_files %}
                {% if file.path contains '/assets/images/glass/lamp/line'%}
                    <div class="col-6 col-md-4 p-1 m-0">
                        <img src="{{ file.path }}" alt="{{ file.name }}" class="img-fluid w-100">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div></div>
</div>



