---
layout: page
title: Cervical Vertebra #5
wip: 
---

{% include project_summary.html 
    description = "An anatomically accurate cervical vertebra! A relic from my bones era. If I made it again, 
    I would remove the middle pieces (light blue) where the holes are supposed to be." 
    img1 = "/assets/images/glass/vertebra/cv-final.jpeg"
    img2 = "/assets/images/glass/vertebra/cv_pattern.png"
%}

<!-- line  -->
{% include double_notes.html 
    title = "Reference!" 
    text = "Reference image used to create the pattern. I am 92% sure this is the fifth cervical vertebra although it could also be the third..." 
    images_path = "/assets/images/glass/vertebra/ref.png"
    col-size = "col-12 col-md-8 col-lg-4"
%}




