---
layout: page
title: Stained Glass Lampshade
wip: true
---

{% include project_summary.html 
    description = "This project was started on an impulse!" 
    img1 = ' 
    <img src="/assets/images/glass/lamp/image.png" alt="Project image" class="img-fluid h-100">'
    img2 = '
    <img src="/assets/images/glass/lamp/glass_lamp 3.png" alt="Final pattern" class="img-fluid w-100 px-2">'
%}

<!-- pattern prototyping -->
{% include section_head.html title="Pattern Prototyping" %}

<!-- shape  -->
{% include double_notes.html 
    title = "Shape" 
    text = "Testing out different lamp shade shapes." 
    images = ''
%}

<!-- line  -->
{% include double_notes.html 
    title = "Lines" 
    text = "Prototyping different ways of decorating the panels." 
    images_path = "/assets/images/glass/lamp/line"
%}




