---
layout: page
title: Stained Glass Lampshade
wip: 
---

{% include project_summary.html 
    description = "This project was started on an impulse! I had a few sheets of glass I was trying to use up 
    and this seemed like the perfect project. I looked at a variety of videos and tutorials and 
    [this youtube series](https://www.youtube.com/watch?v=a6G6d-o6QPA&list=PLZf-ZPTbm9M1k6qxcCP6pj3etkrIz9Fma)
    is a great place to start." 
    img1 = "/assets/images/glass/lamp/lamp_half_final.jpg"
    img2 = "/assets/images/glass/lamp/pattern.png"
%}

<!-- pattern prototyping -->
{% include section_head.html title="Pattern Prototyping" %}

<!-- line  -->
{% include double_notes.html 
    title = "Lines" 
    text = "A variety of drafts. Sticking with my palette of primarily red and pale amber, I played around with slight shape, line, and color." 
    images_path = "/assets/images/glass/lamp/line"
    col-size = "col-4 col-lg-3"
%}

<!-- shape  -->
{% include double_notes.html 
    title = "Shape" 
    text = "A single panel may look nice, but it's important to visualize all the panels together. 
    You may change your mind! (I found that I liked seeing the curvy O's)" 
    images_path = "/assets/images/glass/lamp/shape"
    col-size = "col-6 col-lg-3"
%}

<!-- glass side  -->
{% include double_notes.html 
    title = "Glass" 
    text = "Which side is prettier? (I chose the second one)" 
    images_path = "/assets/images/glass/lamp/side"
%}

<!-- final mockup  -->
{% include double_notes.html 
    title = "Mockup" 
    text = "3D Mockup with CAD! Courtesy of Yolanda :)" 
    images = '
        <div class="row justify-content-center">
            <div class="col-6">
                <img src="/assets/images/glass/lamp/mockup.png" alt="Mockup image" class="img-fluid w-100">
            </div>
        </div>'
%}


<!-- process -->
{% include section_head.html title="Process" %}

<div class="row g-4 align-items-center">

    <!-- lamp base -->
    {% include notecard.html 
        label = "Lamp Bases and Other Hardware" 
        text = "Found at the Chelsea Flea Market! I cleaned and polished all the brass and gave the decorative vine new metal flowers.
            The base I bought also didnt come with a lamp harp (the thing that holds up the lamp shade) so I had to buy one.
            Thankfully, the lamp base I bought had working wiring, but lamp rewiring kits are widely available and easy to use!
            Typically, a lamp shade should go an inch below the base of the harp. 
            I also had to get a vented vase cap (which the top of the lamp shade is soldered to) and a finial (the decorative screw on top of a lamp)."
        images = '
        <div class="col-12 p-2">
            <img src="/assets/images/glass/lamp/progress1.jpg" alt="Foiled pieces" class="img-fluid w-100">
        </div>'
    %}

    <!-- pinning -->
    {% include notecard.html 
        img_right = true
        label = "Taping and Tacking" 
        text = "To prop up the lamp and hold the pieces together, masking tape was my best friend. 
            I first taped together the 6 large upper panels together to form a hexagonal pyramid, and eyeballed the shape so it looked good. 
            Then I used bits of solder to tack together the edges so the panels wouldn't shift around. 
            After tacking the edges, I turned the ensemble upside down, and similarly taped the bottom border to where they should go, adjusting them to fit together.
            Tack everything again, and you're ready for the painstaking process of soldering."
        images = '
            <div class="col-12 p-2">
                <img src="/assets/images/glass/lamp/progress3.jpg" alt="Foiled pieces" class="img-fluid w-100">
            </div>'
    %}
    

    <!-- soldering -->
    {% include notecard.html 
        label = "Soldering (So Much Soldering)" 
        text = "Soldering together this lamp shade took about an insane amount of lead (especially when you have big gaps due to ill-fitting pieces, oops).
            I probably used up an entire coil of solder total for this"
        images = '
            <div class="col-12 p-2">
                <img src="/assets/images/glass/lamp/soldering.jpg" alt="After soldering" class="img-fluid w-100">
            </div>'
    %}

    <!-- patina-->
    {% include notecard.html 
        img_right = true
        label = "Patina and Polishing (again)" 
        text = "Using a patina solution, you can turn the silver lead solder either black or copper colored. 
        A black patina is most commonly used and is also helpful in hiding imperfections in soldering!
        For best results, brush the solder lines and border with a wire brush first to remove surface oxidation."
        images = '
        <div class="col-12 p-2">
            <img src="/assets/images/glass/lamp/lamp_half_final.jpg" alt="Lead with patina" class="img-fluid w-100">
        </div>'
    %}

</div>