---
layout: page
title: Hippopotamus
wip: false
---

{% include project_summary.html 
    description = "This project was started on an impulse!" 
    img1 = ' 
    <img src="/assets/images/glass/hippo/hippo1-final.jpg" alt="Project image" class="img-fluid w-100">'
    img2 = '
    <img src="/assets/images/glass/hippo/hippo2-final.jpg" alt="Project image 2" class="img-fluid w-100">'
%}

<!-- pattern prototyping -->
{% include section_head.html title="Pattern Prototyping" %}

<!-- reference  -->
{% include double_notes.html 
    title = "Reference!" 
    text = "Seen at the Shanghai Museum's special exhibition, '[On Top of the Pyramid: The Civilization of Ancient Egypt](https://www.shanghaimuseum.net/mu/frontend/pg/article/id/E00004197)' " 
    images = '
    <div class="row justify-content-center">
    <div class="col-12 col-lg-6 p-2">
        <img src="/assets/images/glass/hippo/ref.jpg" alt="Reference object" class="img-fluid w-100">
    </div></div>'
%}

<!-- line  -->
{% include double_notes.html 
    title = "Leg Revision" 
    text = "I revised the pattern after finishing the piece, as the triangle legs were too small and difficult to process." 
    images_path = "/assets/images/glass/hippo/pattern"
%}




