---
layout: page
title: Defixio Database
wip: true
---


<!-- Copied and pasted from project_summary include but modified -->
<div class="row mb-4 justify-content-center proj-summary g-3">
    <div class="col-12 col-lg-4"><div class="section h-100">
        <p>A mock database website showcasing defixiones (lead curse tablets)</p><p> 
        <div class="btn w-100 py-2 my-2"><a href="https://github.com/anonymousanemone/DefixioDatabase">View on Github</a></div>
    </div></div>
    <div class="col-12 col-lg-8">
        <img src="/assets/images/webs/defixio/home.png" alt="Project image" class="img-fluid w-100">
    </div>
</div>


{% include section_head.html title="Showcase" %}

<div class="row g-4 align-items-center">

{% include notecard.html label = "Browse" 
        text = ""
        images_path = "/assets/images/webs/defixio/browse"
        col-size = "col-12"
%}

{% include notecard.html label = "Search" 
        text = ""
        images_path = "/assets/images/webs/defixio/search.png"
        col-size = "col-12"
%}

{% include notecard.html label = "Item" 
        text = ""
        images_path = "/assets/images/webs/defixio/item.png"
        col-size = "col-12"
%}

{% include notecard.html label = "Edit and Add" 
        text = ""
        images_path = "/assets/images/webs/defixio/edit"
        col-size = "col-12"
%}
</div>
