---
layout: default
title: Galleries

gallery:
  - title: "Stained Glass Gallery"
    url: "/projects/glassgallery.html"
    id: "glassgallery"
    image: "/assets/images/glass/octopus/final.jpg"
    text: "View my stained glass projects! Affectionately referred to as 'my precious children',
						the pieces range from small sun catchers to large(ish) window panels. "
    img-left: false

  - title: "Junk Journal"
    url: "/projects/junkjournal.html"
    id: "junkjournal"
    image: "/assets/images/junkjournal/23.jpg"
    text: "Spawning from my refusal to thrown away pretty packaging, 
			junk journaling has helped me deal with my hoarding problem in an artistic manner.
			I now have an excuse to keep more stuff."
    img-left: true

  - title: "Little Guys from Museums"
    url: "/projects/museumguys.html"
    id: "museumguys"
    image: "/assets/images/museum_guys/figures1.png"
    text: "Why does European art have so many faces? I don't know, but here's a lot of them. 
			Was it a phase? Perhaps. From various galleries of European paintings, 
			enjoy dead-eyed caricatures of your favorite (and least favorite) people."
    img-left: false

  - title: "Sketchbook Highlights"
    url: "/projects/sketchbook.html"
    id: "sketchbook"
    image: "/assets/images/sketchbook/colorblock.png"
    text: "I draw sometimes! Not often, and not always well, but a few proud pieces have
			made it out from my stubborn hands. Enjoy the best of me."
    img-left: true

  - title: "Miscellaneous"
    url: "/projects/miscgallery.html"
    id: "miscellaneous"
    image: "/assets/images/misc/theatre1.png"
    text: "Little pieces of random shit. "
    img-left: false

---

<div class="container pb-4"><div class="row justify-content-center">
	<div class="col-lg-3 col-md-4 mt-3 d-none d-sm-none d-md-block">
		<div class="sticky-sidebar section h-100">
			<div class="m-0 p-0 sticky-top pt-4">
				<h4 class="mb-3">Navigate</h4>
				<hr>
				{% for g in page.gallery %}
					<a href="#{{g.id}}">{{g.title}}</a>
					<hr>
				{% endfor %}
			</div>
		</div>
	</div>
  
	<!-- Main Content -->
	<div class="col-12 col-md-8">
	<div class="row d-flex flex-wrap">
		<!-- General Section -->
		<div class="col-12"><section class="section py-4 mt-3">
			<h4>Galleries of Various Artworks</h4>
			<p>No thoughts, just art. No words, just images. </p>
			<p>See collections of my random hobbies. (And yes, this page has a lot of words.)</p>
			<h5>Quick links</h5>
			<ul>
				{% for g in page.gallery %}
					<li><a href="{{g.url}}">{{g.title}}</a></li>
				{% endfor %}
			</ul>
		</section></div>

		{% for g in page.gallery %}
			{% include gallery_cards.html 
				title = g.title 
				url = g.url
				id = g.id
				text = g.text
				image_path = g.image
				img-left = g.img-left
    		%}		
		{% endfor %}

	</div></div>

</div></div>