---
layout: default
title: Projects

projects:
  - category: "Game Design"
    title: "Flappy Mo"
    url: "/projects/game_flappy.html"
    image: "/assets/images/game/flappymo.png"

  - category: "Website Projects"
    title: "Digital Gardiner Sign List"
    url: "gardiner_signlist.html"
    image: "/assets/images/stelaofnebamun.png"

  - category: "Website Projects"
    title: "Early Chinese Coin Finds Database"
    url: "/projects/webs_coins.html"
    image: "/assets/images/webs/coins/screenshots/01_home.jpg"

  - category: "Website Projects"
    title: "BadReads"
    url: "/projects/webs_badreads.html"
    image: "/assets/images/webs/badreads/screenshots/01-home-search.png"

  - category: "Game Design"
    title: "That Time I Got Out of Jail by Reassembling Osiris"
    url: "/projects/game_reassemblingosiris.html"
    image: "/assets/images/game/reassemblingosiris/medea.png"
  
  - category: "Stained Glass"
    title: "Cephalopod and Cranium"
    url: "/projects/glass_octopus.html"
    image: "/assets/images/glass/octopus/final.jpg"

  - category: "Stained Glass"
    title: "Poppy Panel"
    url: "/projects/glass_poppy.html"
    image: "/assets/images/glass/poppy/final.jpg"

  - category: "Stained Glass"
    title: "Little Lampshade"
    url: "/projects/glass_lamp.html"
    image: "/assets/images/glass/lamp/lamp_half_final.jpg"

  - category: "Stained Glass"
    title: "Cervical Vertebra #5"
    url: "/projects/glass_vertebra.html"
    image: "/assets/images/glass/vertebra/cv-final.jpeg"

  - category: "Stained Glass"
    title: "Hippopotamus"
    url: "/projects/glass_hippo.html"
    image: "/assets/images/glass/hippo/hippo1-final.jpg"

  - category: "Stained Glass"
    title: "Leaf with Lead"
    url: "/projects/glass_leaf.html"
    image: "/assets/images/glass/leaf/process1.jpg"

  - category: "Stained Glass"
    title: "Hydra Hydria"
    url: "/projects/glass_hydra.html"
    image: "/assets/images/glass/hydra/hydra_color.png"

  - category: "Arts on Paper"
    title: "Junk Journal Vol 1"
    url: "/projects/junkjournal_v1.html"
    image: "/assets/images/junkjournal_v1/23.jpg"

  - category: "Arts on Paper"
    title: "Junk Journal Vol 2"
    url: "/projects/junkjournal_v2.html"
    image: "/assets/images/junkjournal_v2/02.png"

  - category: "Arts on Paper"
    title: "Little Guys from Museums"
    url: "/projects/museumguys.html"
    image: "/assets/images/museum_guys/figures1.png"
    
  - category: "Arts on Paper"
    title: "Sketchbook Highlights"
    url: "/projects/sketchbook.html"
    image: "/assets/images/sketchbook/colorblock.png"

---
{% assign categories = page.projects | map: "category" | uniq %}

<div class="container pb-4"><div class="row justify-content-center">
	  
	<!-- Sidebar (Sticky) -->
	<div class="col-lg-3 col-md-4 mt-3 d-none d-sm-none d-md-block">
		<div class="sticky-sidebar section h-100">
			<div class="m-0 p-0 sticky-top pt-4">
				<h4 class="mb-3">Navigate</h4>
				<hr>
				{% for category in categories %}
					{% assign category_id = category | downcase | replace: ' ', '-' %}
					<a href="#{{ category_id }}">{{ category }}</a>
					<hr>
				{% endfor %}
			</div>
		</div>
	</div>
  
	<!-- Main Content -->
	<div class="col-12 col-md-8">
		<div class="row d-flex flex-wrap">

      <!-- other sections -->
      {% for category in categories %}
      {% assign category_id = category | downcase | replace: ' ', '-' %}
      {% assign filtered_projects = page.projects | where: "category", category %}
      <div class="col-12" id="{{category_id}}"><section class="section py-4 mt-3">
        <h2>{{ category }}</h2>
        {% include project_cards.html cards=filtered_projects %}
      </section> </div>
      {% endfor %}

	</div>
</div>
</div>