<!-- 
 ACCEPTED INPUTS
    title
    text
    images_path / images_list / images
    col-size
    padding
-->

<div class="row mb-4 align-items-center g-3">
    <div class="col-md-4">
        <div class="section">
        <h3>{{ include.title }}</h3>
        <p>{{ include.text | markdownify }}</p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="section">
            {% if include.images_path %}
                {% include multi_images.html img_filter=include.images_path col-size=include.col-size%}
            {% elsif include.images_list %}
                {% include multi_images.html img_list=include.images_list col-size=include.col-size%}
            {% else %}
                {{ include.images | raw }}
            {% endif %}
        </div>
    </div>
</div>