<!-- 
 ACCEPTED INPUTS
    label
    text
    images_path / images_list / images
    col-size
    padding
-->
    
<div class="col-12">
    <div class="section"><div class="row align-items-center">
        <div class="col-12 col-md-6 {% if include.img_right %}order-0 order-md-1{%endif%}">
            <h4>{{include.label}}</h4>
            <p>{{include.text}}</p>
        </div>
        <div class="col-12 col-md-6 {% if include.img_right %}order-1 order-md-0{%endif%}">
            {% if include.images_path %}
                {% include multi_images.html img_filter=include.images_path notecard=true col-size=include.col-size%}
            {% elsif include.images_list %}
                {% include multi_images.html img_list=include.images_list notecard=true col-size=include.col-size%}
            {% else %}
                {{ include.images | raw }}  <!-- Avoid using -->
            {% endif %}
        </div>
    </div></div>
</div>
